<h2>ホテル予約一覧</h2>
<%= render 'search'%>
<table class="table">
  <thead>
    <tr>
        <th scope="row">部屋番号</th>
      <% 28.times do |i| %>
        <th scope="row"><%= (Date.today + i.day).strftime('%m/%d') %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% Array(@rooms).each do |room| %>
      <tr>
        <td><%= room.room_number %></td>
        <% 28.times do |i| %>
          <td>
            <% if Reservation.isEmptyRoomByRoomNumber(room.room_number, Date.today + i.day) %>
                <%= link_to '○', room %>
            <% else %>
                ×
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>